<div class="slidershow">
  <h1>Determine Your Disposabl Income</h1>
</div>
<div class="container">
  <div class="costcontainer col-xs-12 col-sm-8 col-md-6 col-md-offset-3">
    <div class="form-box">
      <%= image_tag "square.gif" %>
      <h2>Add Your Income</h2>
      <%= render "layouts/form_errors", object: @income %>
      <%= form_for @income do |f| %>
      <div class="field">
        <%= f.label :new_income_source %>
        <%= f.text_field :title, autofocus: true %>
      </div>
        <div class="field">
          <%= f.label :income %>
          <%= f.text_field :amount, autofocus: true %>
        </div>
        <div class="field signup">
          <%= f.submit "Income" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
