<!DOCTYPE html>
<html>
<head>
  <title>Disposabl</title>
  <meta name="description" content="Disposabl">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', '//fonts.googleapis.com/css?family=Raleway' %>
    <%= favicon_link_tag 'favicon.png' %>
</head>
<body>
<%= render "layouts/header.html.erb" %>
<%= yield %>
<%= render "layouts/footer.html.erb" %>
</body>
</html>
